.tries {
  text-align: center;
  font-size: 21px;
  margin: 5px 0 10px 0;
}

.wrongLetters {
  padding-bottom: 5px;

  border-bottom: 1px solid var(--lightBrown);

  transition-property: max-height;
  transition-duration: 1s;
}

.word {
  width: fit-content;
  margin: 20px auto;
  padding: 5px 2px;

  background-color: var(--lightGreen);
  border-top: 1px solid var(--lightBrown);
  border-bottom: 1px solid var(--lightBrown);
}

.allLetters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 5px;

  border-top: 1px solid var(--lightBrown);
}
