.button {
  padding: 12px 30px;

  color: var(--darkBrown);
  background-color: var(--lightBrown);

  border: 1px solid var(--lightBrown);
  border-radius: 10px;

  cursor: pointer;

  -webkit-tap-highlight-color: transparent;

  transition-property: color, background-color, border;
  transition-duration: 0.2s;

  &:hover {
    color: var(--lightBrown);
    background-color: transparent;
  }

  &:disabled {
    color: var(--red);
    background-color: var(--transparentRed);
    border-color: var(--red);

    cursor: default;
  }
}
