@keyframes wrong {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
  75% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes right {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

@keyframes hidden {
  0% {
    transform: translateY(0);
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateY(-50vh);
    opacity: 0;
    scale: 0;
  }
}

.letter {
  width: 47px;
  height: 47px;
  margin: 2px;

  color: var(--lightBrown);
  background-color: transparent;
  border: 1px solid var(--lightBrown);
  border-radius: 5px;

  &.default {
    cursor: pointer;
  }

  &.wrong {
    color: var(--red);
    border: 1px solid var(--red);

    animation: wrong 0.2s;
  }

  &.right {
    animation: right 0.1s;
  }

  &.underline {
    border: none;
  }

  &.hidden {
    pointer-events: none;

    animation: hidden 0.5s both;
  }
}
