.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 15px 0;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoText {
  margin-top: 20px;

  font-size: 70px;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.button {
  margin: 5px 0;
}
